/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";


/* --------------------------------------------------------------------
   Global
-------------------------------------------------------------------- */

/* ---- Base ---- */

* { 
   -webkit-box-sizing: border-box; 
   -moz-box-sizing:    border-box; 
   box-sizing:         border-box; 
}

html {
	background: $light;
	font-size: 21px;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $serif;
	font-size: 100%;
  color: $dark;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* --- Typography --- */

h1, h2, h3, h4, {
  font-family: $sans-serif;
}

h1 {
  font-size: 3.8em; /* 80px/21px */
}

h2 {
  font-size: 2.380952381em; /* 50px/21px */
}

h3 {
  font-size: 1.904761905em; /* 40px/21px */
}

h4 {
  font-size: 1.25em; /* 26.25px/21px */
}

a {
  color: $pop;
  text-decoration: none;
}

a:hover {
  color: darken($pop, 10%);
  text-decoration: underline;
}

::selection {
  background: $pop; /* Safari */
  }
::-moz-selection {
  background: $pop; /* Firefox */
}

/* --------------------------------------------------------------------
   Elements
-------------------------------------------------------------------- */

/* --- Typography --- */

.bar {
  border-bottom: 10px solid $pop;
  line-height: 1;
}

.cred {
  font-size: .7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  bottom: 8px;
  right: 20px;
  a {
    font-weight: bold;
    color: inherit;
  }
}

/* --------------------------------------------------------------------
   Layout
-------------------------------------------------------------------- */

.group:after { 
  clear: both;
  content: " "; 
  display: block; 
  font-size: 0; 
  height: 0;
  visibility: hidden;
}

.cleaner {
  clear: both;
  font-size: 1px;
}

.site {
  margin: 0 auto;
}

.stripe {
  width: 100%;
}

.box {
  float: left;
  width: 33%;
}

div.wrapper {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0 70px 0;
}

div.inner {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em 0 3em 0;
}


footer {
  background: url(../images/dark_leather.png) repeat;
  color: $neutral;
  h4 {
    margin-bottom: 0.3em;
    text-transform: uppercase;
  }
  ul li {
    font-style: italic;
    padding-left: 0.25em;
    line-height: 1.5;
  }
}

/* --------------------------------------------------------------------
   Sections
-------------------------------------------------------------------- */

.banner {
  background: url(../images/vvgirlbg.jpg) no-repeat;
  background-position-y: 30%;
  @include background-size(cover);
  height: 800px;
  overflow: hidden;
  position: relative;
}

.banner-tag {
  background: url(../images/dark_leather.png) repeat;
  top: -5px;
  right: 10%;
  position: absolute;
  text-align: center;
  @include border-radius(8px);
  @include box-shadow(#333 0px 2px 3px);
}

.bio img {
  margin-bottom: 1em;
}

.contact, .social {
  padding-right: 1em;
}

.mail {
  padding-left: 1em;
}

/* Newsletter Signup Form */
#mc-embedded-subscribe-form input[type="text"], #mc-embedded-subscribe-form input[type="email"] { 
  width: 96%;
  padding: 8px 8px;
  margin-bottom: 10px;
  @include border-radius(5px);
}

#mc-embedded-subscribe {
  background-color: $neutral;
  color: $dark;
  font-family: serif;
  font-size: 0.75em;
  padding: 0.5em 1em;
  @include border-radius(5px);

}

#mc-embedded-subscribe:hover {
  background-color: $pop;
}

